*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.sec1{
    width: 100%;
    height: 100vh;
    background-image: url(./gym.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
}

.sec1container{
    width: 650px;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: justify;


}

.sec1 h1{
    font-size: 70px;
}
.sec1 p{
    font-size: 25px;
}

.btn-primary{
    background-color: #FFC63D;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 16px 30px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 25px;
    padding: 16px 30px;
    border: 2px solid #FFC63D;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
.btn-outline-primary:hover{
    background-color:white;
    color: black;

}
.box-hero{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.sec2{
    width: 100%;
    height: auto;
    background-color: #FFC63D;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.sec2box1{
    width: 50%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;



}

.sec2box2{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 60%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}

.sec2box2innerbox h1{
    font-size: 60px;

}

.sec2box2innerbox h3{
    font-size: 30px;

}
.sec2box2innerbox p{
    font-size: 20px;

}

.sec2box1imagebox1{
    width: 25%;
    height: 300px;
    background-color: chartreuse;
}
.sec2box1imagebox3{
    height: 400px;
}

.sec2box1imagebox1inner1{
    width: 100%;
    height: 250px;
    background-image: url(./swiming.jpg);
    background-size: cover;

}

.sec2box1imagebox1inner2{
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 15px;
    text-align: center;
}
.sec2box1imagebox1innerboxing{
     width: 100%;
    height: 250px;
    background-image: url(./boxing.png);
    background-size: cover;

}

.sec2box1imagebox1inneryoga{
    width: 100%;
    height: 350px;
    background-image: url(./yoga.jpg);
    background-size: cover;
}
.sec2box1imagebox1innerFitness{
     width: 100%;
    height: 250px;
    background-image: url(./gym_girl.jpg);
    background-size: cover;
}
.sec2box1imagebox1innerWellness{ 
    width: 100%;
    height: 250px;
    background-image: url(./wellness.jpg);
    background-size: cover;
}

.sec3{
    width: 100%;
    height:70vh;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3972615/images/young-fitness-man-studio4.jpg);
    background-position-y :-200px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
}

.sec3innerbox1{
    width: 50%;
    height: auto;

}

.sec3innerbox1 h1{
   color: white;
   font-size: 60px;

}

.sec3innerbox1 ul li {
    color: white;
    font-size: 25px;
    line-height: 2.5;
    list-style: none;
   

}


.sec3innerbox1 ul li::before {
    content: "☑️";
}

.sec3innerbox1 button{
    margin-top: 20px;
}



























@media screen and (min-width: 300px) and (max-width: 578px) {  
    
    
    .sec1 h1{
        font-size: 30px;
    }  
    .btn-primary{
    font-size: 15px;
    padding: 10px 15px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 15px;
    padding: 10px 15px;
}
.btn-outline-primary:hover{
    font-size: 15px;
    padding: 10px 15px;
}

.sec2box1{
    width: 100%;
    height:auto;
   
    padding: 25px;



}

.sec2box1imagebox1{
    width: 100%;
    height: 300px;
    background-color: chartreuse;
}


.sec2box2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 100%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}


}













@media screen and (min-width: 578px) and (max-width: 768px) {  
    
    
    .sec1 h1{
        font-size: 30px;
    }  
    .btn-primary{
    font-size: 15px;
    padding: 10px 15px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 15px;
    padding: 10px 15px;
}
.btn-outline-primary:hover{
    font-size: 15px;
    padding: 10px 15px;
}

.sec2box1{
    width: 100%;
    height:auto;
   
    padding: 25px;



}

.sec2box1imagebox1{
    width: 100%;
    height: 300px;
    background-color: chartreuse;
}


.sec2box2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 100%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}

}









@media screen and (min-width: 768px) and (max-width: 992px) {  
    
    
    .sec1 h1{
        font-size: 30px;
    }  
    .btn-primary{
    font-size: 15px;
    padding: 10px 15px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 15px;
    padding: 10px 15px;
}
.btn-outline-primary:hover{
    font-size: 15px;
    padding: 10px 15px;
}

.sec2box1{
    width: 100%;
    height:auto;
   
    padding: 25px;



}

.sec2box1{
    width: 100%;
    height:auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap; */
    /* flex-direction: row; */
    padding: 25px;



}

.sec2box1imagebox1{
    width: 50%;
    height: 300px;
    background-color: transparent;
}


.sec2box2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 100%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}

}

@media screen and (min-width: 992px) and (max-width: 1400px) {  
    
    
    .sec1 h1{
        font-size: 30px;
    }  
    .btn-primary{
    font-size: 15px;
    padding: 10px 15px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 15px;
    padding: 10px 15px;
}
.btn-outline-primary:hover{
    font-size: 15px;
    padding: 10px 15px;
}

.sec2box1{
    width: 50%;
    height:auto;
   
    padding: 25px;



}

.sec2box1{
    width: 100%;
    height:auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap; 
    flex-direction:row; */
     padding: 25px;



 } 


.sec2box1imagebox1{
    width: 50%;
    height: 300px;
    background-color: transparent;
}


.sec2box2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 100%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}

}

@media screen and (min-width: 992px) and (max-width: 1800px) {  
    
    
    .sec1 h1{
        font-size: 30px;
    }  
    .btn-primary{
    font-size: 15px;
    padding: 10px 15px;
}
.btn-primary:hover{
    background-color: white;
    border: none;

}
.btn-outline-primary{
     background-color: transparent;
    font-size: 15px;
    padding: 10px 15px;
}
.btn-outline-primary:hover{
    font-size: 15px;
    padding: 10px 15px;
}

.sec2box1{
    width: 50%;
    height:auto;
   
    padding: 25px;



}

.sec2box1{
    width: 50%;
    height:auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap; 
    flex-direction:row; */
     padding: 25px;



 } 


.sec2box1imagebox1{
    width: 50%;
    height: 300px;
    background-color: transparent;
}


.sec2box2{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.sec2box2innerbox{
    width: 100%;
    height: auto;
    line-height: 2.5;
    padding: 20px;


}

}






    


